body {
  background-color: #282c34;
}

#vs{
  width: 50%;
  height: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

/*rezie vs*/
.vsresize {
  height: 20vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* split into three panels */
#bracketSpace {
  height: 100%;
  width: 70%;
  position: fixed;
  
  left: 0;
  background: #282c28;
}

#playerTop {
  width: 30%;
  
  position: fixed;
  top: 0;
	right: 0;
}
#playerTopLabel {
  height: 10%;
  width: 13.5%;
  padding-left: 5px;
  padding-right: 9px;
  font-size: 100%;
  display: inline;

  position: fixed;
  top: 0;
  right: 0;
  background: black;
  opacity: 0.8;
}

#playerBot {
  width: 30%;
  
  position: fixed;
  bottom: 0;
	right: 0;
}
#playerBotLabel {
  height: 10%;
  width: 13.5%;
  padding-left: 5px;
  padding-right: 9px;
  font-size: 10px;
  display: inline;
  clear: both;

  position: fixed;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.8;
}

#inputFields p
{
padding-bottom: 1%;
margin-bottom: 1%;
padding-top: 1%;
margin-top: 1%;
}

#vsField {  
  width: 30%;
  
  position: fixed;
  bottom: 40%;
  right: 0;
}

#centerline {  
  height: 0.1%;
  width: 100%;

  position: fixed;
  top: 50%;

  background: red;
}
